{% extends "_base.html" %}
{% load static %}
{% block title %}
    food1
{% endblock %}
{% block content %}
<div class="bg-white p-6 mt-8 shadow-lg rounded-lg">
    <!-- Title -->
    <h2 class="text-2xl font-bold text-gray-800 mb-4">เมี่ยงคำกลีบบัวหลวงแบบโบราณ</h2>
    
    <!-- Main Image -->
    <div class="flex justify-center gap-6">
        <img class="w-1/2 max-w-sm h-auto object-cover rounded-lg" src="{% static 'image/food1/f0101.jpg' %}" alt="ภาพเพิ่มเติม 2">
    </div>
    <!-- Description -->
    <p class="text-gray-600 mb-4">
        มะพร้าวคั่ว เป็นสมุนไพรที่นำเนื้อมะพร้าวแก่แต่ไม่แข็งจนเกินไป นำมาหั่นบางๆ ก่อนนำไปอบและคั่วจนหอมกรุ่นมะพร้าว เป็นสีเหลืองน้ำตาลอ่อน มีสรรพคุณช่วยบำรุงกำลัง บำรุงเส้นเอ็น ใช้รักษาโรคกระดูก อีกทั้งในเนื้อมะพร้าวยังมีกรดไขมันอิ่มตัวและคาร์โบไฮเดรตชนิดดี ที่จะทำให้ช่วยลดระดับไขมันในเส้นเลือดได้
        พริกขี้หนู เป็นสมุนไพรที่มีส่วนช่วยแต่งรสชาติและสีให้อาหารนานาชนิด มีการนำมาใช้ในการประกอบอาหาร เพื่อเพิ่มความเผ็ดทำให้อาหารมีรสชาติที่อร่อยยิ่งขึ้น มีสรรพคุณทำให้ระบบการเผาผลาญทำงานได้ดี ส่งผลให้ สามารถช่วยลดน้ำหนักได้ อีกทั้งพริกยังมีวิตามินซีสูง ที่จะช่วยขยายเส้นเลือดในลำไส้และกระเพาะอาหาร ทำให้ร่างกายดูดซึมสารอาหารได้เป็นอย่างดี และยังมีส่วนช่วยกระตุ้นระบบการขับถ่ายให้ทำงานอย่างเป็นปกติอีกด้วย
        มะนาว เป็นสมุนไพรที่ จัดว่าเป็นได้ทั้งผักและผลไม้ในตัวเดียวกัน เนื้อในของมะนาวอุดมไปด้วยน้ำที่มีรสเปรี้ยว เป็นเครื่องปรุงรสอาหารไทยซึ่งเป็นสัญลักษณ์ที่โดดเด่น ที่มีสรรพคุณทางยา สามารถช่วยลดอาการไอ ขับเสมหะ เนื่องจากในน้ำมะนาวมีกรดอินทรีย์หลายชนิด มีรสเปรี้ยวกระตุ้นให้มีการขับน้ำลาย ทำให้ชุ่มคอ จึงช่วยลดอาการไอได้ มะนาว ยังเป็น สมุนไพรแก้ท้องอืด ท้องเฟ้อ และช่วยในการขับลม ได้เป็นอย่างดี อีกทั้งยังอุดมไปด้วยวิตามินซี ซึ่งช่วย เสริมสร้างระบบภูมิคุ้มกันและป้องกันโรคหวัดได้ดีด้วย
        หอมแดง เป็นสมุนไพรที่มีการนำมาใช้ในการประกอบอาหารที่มีสรรพคุณทางยาสามารถ ขับลมในลำไส้ แก้ปวดท้อง บำรุงธาตุ แก้หวัดคัดจมูก อีกทั้งยังช่วยทำให้ระบบย่อยอาหารดี เจริญอาหาร ทำให้ความดันโลหิตต่ำ ลดไขมันในเลือดได้ดีด้วย
    </p>
    
    <!-- Additional Images -->
    <div class="flex justify-center gap-6">
        <img class="w-1/2 max-w-sm h-auto object-cover rounded-lg" src="{% static 'image/food1/f0102.jpg' %}" alt="ภาพเพิ่มเติม 2">
        <img class="w-1/2 max-w-sm h-auto object-cover rounded-lg" src="{% static 'image/food1/f0103.jpg' %}" alt="ภาพเพิ่มเติม 3">
    </div>
</div>
{% endblock %}
